* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

header {
  border-bottom: 1px solid grey;
}

button {
  cursor: pointer;
}

.container {
  width: min(1080px, calc(100% - 4rem));
  margin-inline: auto;
}
.container:not(nav) {
  padding-block: 2rem;
}

nav.container {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form {
  width: min(380px, 90%);
  margin-top: 3rem;
  margin-inline: auto;
  padding: 1rem;
  background: rgb(255, 255, 255);
}

.login-form label {
  margin-bottom: 0.2rem;
  color: rgb(40, 40, 40);
}

.login-form input {
  height: 3rem;
  width: 100%;
  padding-inline: 1rem;
  border: 1px solid gray;
  outline: none;
}

.login-form input + label {
  margin-top: 1.5rem;
}

.login-form button {
  height: 3rem;
  background: #000;
  color: white;
  width: 100%;
  border: none;
  margin-top: 2rem;
}

.main-title {
  margin-bottom: 2rem;
}
